<form action="/pages/new" method="post">
  <select name="component">
    <% Object.keys(components).forEach(function(component){ %>
      <option><%= component %></option>
    <% }) %>
  </select>
  <input type="submit" value="submit"/>
</form>
